/* READ MORE BUTTON */

.read-more {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: var(--main-dark-blue);
  color: var(--off-white);
  width: 150px;
  padding: 12px 10px;
}

.read-more a {
  text-decoration: none;
  color: var(--off-white);
}

.read-more:hover {
  background-color: var(--primary-soft-red);
}

/* NAV BUTTON */

.nav-btn {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn {
  text-decoration: none;
  color: var(--grayish-blue);
}

.btn:hover {
  color: var(--primary-soft-red);
}
