.read-more {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: hsl(240, 100%, 5%);
  color: white;
  width: 150px;
  padding: 12px 10px;
}

.read-more a {
  text-decoration: none;
  color: #ffffff;
}

.read-more:hover {
  background-color: hsl(5, 85%, 63%);
}
