/* FONTS */

@import "../vendor/inter.css";

/* LAYOUT */

@import "../base/layout.css";

/* BUTTON */

@import "../components/buttons.css";

/* MAIN STYLING */

@import "../pages/home.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter;
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);
  --main-gray: hsl(233, 8%, 79%);
  --main-dark-blue: hsl(240, 100%, 5%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(236, 13%, 42%);
}
